/*--------------
  Global
---------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


body {
  height: 100vh;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

.flex {
  display: flex;
}

.column-centre-aligned {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:1em;
}

.header-margin {
  margin-top: 1em;
}

.side-margins {
      margin: 0 20vw;
}

.centre1-text {
  text-align: center;
}



/*
img {
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
}

*/

img {
  width:  22vw;
  height: 22vw;
  object-fit: cover;
  object-position: top;
}

/* ================= MEDIA QUERIES ================= */

@media (max-width: 768px) {

  h1, 
  h2 {
    font-size: 75%;
  }
  
  .side-margins {
    margin: 0 10vw;
  }

  img {
    width:  34vw;
    height: 34vw;
    object-fit: cover;
    object-position: top;
  }  
}


@media (max-width: 414px) {
  h1, 
  h2 {
    font-size: 120%;
  }
}


@media (max-width: 320px) {
  h1, 
  h2 {
    font-size: 95%;
  }
}