/*--------------
  Global
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Press Start 2P', cursive, sans-serif;
  background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  color: #8acc25;
}

/* Use flexbox for the main layout of the screen */
.flex {
  display: flex;
}

/* Styled 'weapon-button' as shown in the example here:
   https://www.w3schools.com/howto/howto_css_icon_buttons.asp 
*/

.weapon-button {
  background-color: #05aa6d;
  /* Remove borders */
  border: none;
  border-radius: 5px;
  /* White text */
  color: white;
  /* Some padding */
  padding: 5px 15px;
  /* Set a font size */
  font-size: 16px;
  cursor: pointer;
}

.yourmove {
  display: block;
  text-align: center;
  margin-top: 4em;
}

.yourmove::after {
  content: "Your Move!";
  background-color: #2ba805;
  color: #fff;
  text-transform: uppercase;

/* Added a colour shadow to 'yourmove' by following the example shown here:
   https://blog.hubspot.com/website/css-border regarding <p class="colorshadow">
*/

  border: 2px solid #fffa8a;
  padding: 10px;
  box-shadow: 6px 4px #fffa8a;  
}

/* .circle {
  background: gold;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  display: flex; /* or inline-flex * /
  align-items: center; 
  justify-content: center;
} */

.circle {
  background: #527a16;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 27px;
  color: black;
  text-align: center;
  margin-top: 4em;
}

/* Initial Form handling */

.form-container {
  display: flex;
}

.form-container-child {
  /* Centre the form */
  margin: 0 auto;
}

.show-form {
  display: block;
}

.show-form p {
  margin: 1em;
}

.left-margin {
  margin-left: 1em;
}

.radio-gap input[type=radio] {
  margin: 4px 0;
}

.playername-control {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 1em 1em;
  text-transform: capitalize;
  width: 15%;
}

input[type=submit],
.rules-button,
.playagain-button {
  padding: 5px 15px;
  background: #6725cc;
  color: white;
  font-size: 150%;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}

.playagain-button {
  display: block;
  text-align: center;
}

.rules-button {
  display: block;
  text-align: center;
  /* Centre this button at the bottom of the screen as shown by Chankey Pathak
     at https://stackoverflow.com/questions/22162560/button-at-the-center-and-bottom-of-div 
  */
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  top: 640px;
}

.column-centre-aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.show-game {
  display: none;
}

.header-margin-forform {
  margin: 1em 0 2em 0;
  text-align: center;
}

.header-margin-forgame {
  margin-top: 1em;
  text-align: center;
}

.side-margins {
  margin: 0 20vw;
}

/* This is how the image of each character will be shown */

img {
  width: 18vw;
  height: 18vw;
  object-fit: cover;
  object-position: top;
}

.hide-element {
  visibility: hidden;
}

.display-message {
  text-align: center;
  margin-top: 1em;
}

.final-score-message {
  text-align: center;
  margin: 2em;
}

.centre-error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message-style {
  padding: 16px;
  /* lightgray */
  background-color: #d3d3d3;
  font-family: "Times New Roman", Times, serif;
  color: #000;
}

.centre-error-message h1,
.centre-error-message h2 {
  font-size: 100%;
}


/* ================= MEDIA QUERIES ================= */

@media (max-width: 960px) {

  h1,
  h2 {
    font-size: 75%;
  }

}

@media (max-width: 840px) {
  img {
    width: 24vw;
    height: 24vw;
  }

  .rules-button {
    top: 600px;
  }

  .playername-control {
    width: 27%;
  }

}


@media (max-width: 768px) {

  * {
    font-size: 93%;
  }

  .side-margins {
    margin: 0 10vw;
  }

  img {
    width: 34vw;
    height: 34vw;
    object-fit: cover;
    object-position: top;
  }
}

@media (max-width: 375px) {

  * {
    font-size: 88%;
  }

  h1,
  h2 {
    font-size: 85%;
  }

}

@media (max-width: 280px) {
  .header-margin-forgame {
    font-size: 75%;
  }
}